<nav id="navbar" class="navbar navbar-expand-lg fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">TIGRE RUGE</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/inicio">INICIO</a>
        <a class="nav-link" href="/novedades">NOVEDADES</a>
        <a class="nav-link" href="/plantel">PLANTEL</a>
        <a class="nav-link" href="/visitanos">VISITANOS</a>
      </div>
    </div>
  </div>
</nav>

<div class="slider">
  <ul>
    <li><img src="images/ff1.jpg" alt="tigre vs racing" width="100%" /></li>
    <li><img src="images/slider2.jpg" alt="empate de tigre en avellaneda" width="100%" /></li>
    <li><img src="images/entre.jpg" alt="tigre vs huracan" width="100%" /></li>
    <li><img src="images/reunion.jpg" alt="tigre vs arsenal" width="100%" /></li>
  </ul>
</div>

<div class="container-img">
  <div class="box-img">
    <a href="/novedades">
      <h1 class="inicio">NOVEDADES</h1>
      <figure>
        <img src="images/novedad1.jpg" alt="diego martinez" />
      </figure>
    </a>
  </div>

  <div class="box-img">
    <a href="/plantel">
      <h1 class="inicio">PLANTEL</h1>
      <figure>
        <img src="images/Tigre-Final.jpg" alt="plantel de tigre" />
      </figure>
    </a>
  </div>

  <div class="box-img">
    <a href="/visitanos">
      <h1 class="inicio">VISITANOS</h1>
      <figure>
        <img src="images/estadiocielo.jpg" alt="jose dellagiovana" />
      </figure>
    </a>
  </div>
</div>