<h1 class="plantel"> Plantel Profesional </h1>
<span class="linea"></span>
<section class="galeria">
     <a href="#image1">
        <img src="images/Diego-Martinez.png" alt="Diego Martinez">
        <h1 class="nombre-jugador"> DIEGO MARTINEZ</h1>
    </a>
    <a href="#image1">
        <img src="images/Gonzalo-Marinelli.png" alt="Gonzalo Marinelli">
        <h1 class="nombre-jugador"> GONZALO MARINELLI</h1>
    </a>
     <a href="#image2">
        <img src="images/Felipe-Zenobio.png" alt="Felipe Zenobio">
        <h1 class="nombre-jugador"> FELIPE ZENOBIO</h1>
    </a>
    <a href="#image3">
        <img src="images/Federico-Gomes-Gerth.png" alt="Federico Gomes Gerth">
        <h1 class="nombre-jugador"> FEDERICO GOMES GERTH</h1>
    </a>
    <a href="#image4">
        <img src="images/Abel-Luciatti.png" alt="Abel Luciatti">
        <h1 class="nombre-jugador">ABEL LUCIATTI</h1>
    </a>
    <a href="#image5">
        <img src="images/Diego-Sosa.png" alt="Diego Sosa">
        <h1 class="nombre-jugador"> DIEGO SOSA</h1>
    </a>
    <a href="#image6">
        <img src="images/Victor-Cabrera.png" alt="Victor Cabrera">
        <h1 class="nombre-jugador"> VICTOR CABRERA</h1>
    </a>
    <a href="#image7">
        <img src="images/martin-ortega.png" alt="Martin Ortega">
        <h1 class="nombre-jugador"> Martin Ortega</h1>
    </a>
    <a href="#image8">
        <img src="images/Lucas-Blondel.png" alt="Lucas Blondel">
        <h1 class="nombre-jugador"> LUCAS BLONDEL</h1>
    </a>
    <a href="#image9">
        <img src="images/Sebastian-Prieto.png" alt="Sebastian Prieto">
        <h1 class="nombre-jugador">SEBASTIAN PRIETO</h1>
    </a>
    <a href="#image10">
        <img src="images/Sebastian-Prediger.png" alt="Sebastian Prediger">
        <h1 class="nombre-jugador">SEBASTIAN PREDIGER</h1>
    </a>
    <a href="#image11">
        <img src="images/Agustin-Baldi.png" alt="Agustin Baldi">
        <h1 class="nombre-jugador">AGUSTIN BALDI</h1>
    </a>
    <a href="#image12">
        <img src="images/equi.jpg" alt="Equi Fernandez">
        <h1 class="nombre-jugador">EZEQUIEL FERNANDEZ</h1>
    </a>
    <a href="#image13">
        <img src="images/Cristian-Zabala.png" alt="Cristian Zabala">
        <h1 class="nombre-jugador"> CRISTIAN ZABALA</h1>
    </a>
    <a href="#image14">
        <img src="images/Lucas-Menossi.png" alt="Lucas Menossi">
        <h1 class="nombre-jugador"> LUCAS MENOSSI</h1>
    </a>
    <a href="#image15">
        <img src="images/alexis.png" alt="Alexis Castro">
        <h1 class="nombre-jugador"> ALEXIS CASTRO</h1>
    </a>
    <a href="#image16">
        <img src="images/armoa.png" alt="Blas Armoa">
        <h1 class="nombre-jugador"> BLAS ARMOA</h1>
    </a>
    <a href="#image17">
        <img src="images/colidio.png" alt="Facundo Colidio">
        <h1 class="nombre-jugador"> FACUNDO COLIDIO</h1>
    </a>
    <a href="#image18">
        <img src="images/Ijiel-Protti.png" alt="Ijiel Protti">
        <h1 class="nombre-jugador"> IJIEL PROTTI</h1>
    </a>
    <a href="#image19">
        <img src="images/retegui.png" alt="Mateo Retegui">
        <h1 class="nombre-jugador"> MATEO RETEGUI</h1>
    </a>
   
   
</section>