h1 {
  font-family: 'Barlow', sans-serif;
  color: rgb(23, 13, 107);
  font-weight: bold;
}

h2 {
  font-family: 'Barlow', sans-serif;
  font-size: 100px;
  color: rgb(23, 13, 107);
  font-weight: bold;
  margin: 100px;
  text-align: center;
}



.navbar-brand{
  font-family: 'Barlow', sans-serif;
  color: white;
  font-weight: bold;
}     

.nav-link {
  color: white;
  font-family: Montserrat, Arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
}


.lista-novedades {
  margin: 0;
  padding: 0;
  list-style: none;
}

.lista-novedades li {
  margin: 20px 15;
}

.lista-novedades li a {
  background-color: rgb(255, 255, 255);
  font-family: "Barlow", sans-serif;
  text-decoration: none;
  font-size: 2rem;
  color: rgb(0, 0, 0);
  transition: all 0.2s ease-in-out;
  display: block;
}

.lista-novedades li a:hover {
  color: white;
  background-color: #1e448d;
}

.lista-novedades li a img {
  width: 350px;
  height: 250px;
  filter: grayscale();
  transition: all 0.2s ease-in-out;
  margin-right: 1rem;
  opacity: 0.7;
}

.lista-novedades li a:hover img {
  filter: none;
  margin-right: 1.4rem;
  opacity: 1;
}

.testimonios {
  background-color: #f0ebeb;
  padding-bottom: 0rem !important;
  width: 1000px;
  margin-left: 450px;
}

.testimonio {
  text-align: center;
  padding: 10px 20px;
}

.texto-testimonio {
  color: black;
  font-size: 30px;
}

.navbar {
  background-color: rgb(23, 13, 107);
}

.imagen {
  padding-top: 50px;
}

.img-fluid {
  width: 300px;
  height: 300px;
  margin-right: 1000px;
}

.Nosotros {
  width: 100px;
  height: 100px;
  padding-right: 500px;
}

.staff {
  background-color: rgb(23, 13, 107);
}

.mapa iframe {
  width: 100%;
  aspect-ratio: 1.2;
  padding: 100px;
}

html {
  scroll-behavior: smooth;
}

.scroll_section {
  scroll-margin-top: 60px;
}

.slider {
  width: 100%;
  margin: auto;
  overflow: hidden;
}

.slider ul {
  display: flex;
  padding: 0;
  width: 400%;
  animation: cambio 20s infinite alternate;
}

.slider li {
  width: 100%;
  list-style: none;
}

.slider img {
  width: 100%;
  height: 1000px;
  position: relative;
}

@keyframes cambio {
  0% {
    margin-left: 0;
  }

  20% {
    margin-left: 0;
  }

  25% {
    margin-left: -100%;
  }

  45% {
    margin-left: -100%;
  }

  50% {
    margin-left: -200%;
  }

  70% {
    margin-left: -200%;
  }

  75% {
    margin-left: -300%;
  }

  100% {
    margin-left: -300%;
  }
}

.container-img {
 width: 100%;
 max-width: 1000px;
 margin: auto;
 margin-top:100px;
 margin-bottom: 100px;
 display: grid;
 grid-template-columns: auto ;
 grid-template-rows: auto ;
 grid-gap: 20px;
}

.container-img .box-img figure {
  width: 100% ;
  height: 100%;
}

.container-img .box-img img {
  width: 90%;
  height: 90%;
  object-fit: cover;
  border-radius: 25px;
  box-shadow: 0 0 30px rgba(0,0,0,1);
}

.novedades {
  background-color: rgb(23, 13, 107);
}

a {
  text-decoration:none;
}

.footer {
  padding: 40px 0;
  background-color: rgb(23, 13, 107);
}

.footer .redes {
  text-align: center;
  padding-bottom: 25 px;
  color: white;
}

.footer .redes a {
  font-size: 24px;
  color: white;
  border: 1px solid white;
  width: 40px;
  height: 40px;
  line-height: 38px;
  display: inline-block;
  text-align:center;
  border-radius: 40%;
  margin: 5px;
  opacity: 0.75;
}

.footer .redes a:hover {
  opacity: 0.9;
}

.diseñado {
  margin-top: 30px;
  text-align: center;
  font-size: 13px;
  color:white;
}

.linea {
  height: 5px;
  width: 100%;
  display: block;
  background-color: rgb(23, 13, 107);
}

.galeria {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px,1fr));
  width: 95%;
  margin: auto;
  grid-gap:5px;
  padding: 40px;
  overflow: hidden;
}

.galeria img {
  width: 100%;
  vertical-align: top;
  height: 500px;
  object-fit: cover;
  transition: transform 0.5s;
}

.galeria > a{
  display: block;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 6px rgba(0,0,0,.5);
  margin: 15px;
}



.plantel {
  font-weight: 700;
  text-align: center;
  padding: 100px 0;
  font-size: 100px;
}

.nombre-jugador{
  text-align: center;
  font-size: 30px;
  padding: 10px;
}

.inicio {
  text-align: left;
  font-size: 55px;
  text-transform: uppercase;
  font-weight: 600;
  text-shadow: 1px 2px black;
}

.visitanos {
 
  font-size: 1rem;
  line-height: 1.5;
  color: #000000;
  text-align: left;
  font-family: Montserrat,sans-serif;
  font-weight: 1000;
  box-sizing: border-box;
  padding: 250px 0;
  background-color: ligh;
}

.visitanos1{
  font-size: 1rem;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  font-family: Montserrat,sans-serif;
  font-weight: 00;
  box-sizing: border-box;
  width: 90%;
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  margin-top: -189px;
  z-index: 10;
  background-color: white;
}

.visitanos2{
  font-size: 1rem;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  font-family: Montserrat,sans-serif;
  font-weight: 300;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  margin-right: 0;
  margin-left: 0;
}

.visitanos3{
  font-size: 1rem;
  line-height: 3.5;
  color: #0c0d0f;
  text-align: center;
  font-family: Montserrat,sans-serif;
  font-weight: 1000;
  box-sizing: border-box;
  padding-bottom: 45px;
  display: block;
  height: 100%;
  min-height: 700px;
  text-decoration: none;
  position: relative;
  z-index: 10;
  margin: 1px;
  background-color: lightgrey;
}

.visitanostitulo{
  text-align: center;
  box-sizing: border-box;
  font-family: inherit;
  position: relative;
  margin: 0;
  padding: 26px 18px 56px;
  color: #003492;
  font-size: 40px;
  font-weight: 700;
  line-height: 32px;
  padding-top: 45px;
  background-color: lightgray;
}

.infovis{
  text-align: center;
  box-sizing: border-box;
  margin-top: 0;
  margin-bottom: .5rem;
  font-family: inherit;
  padding: 50px 18px 0;
  color: red;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  background-color: lightgray;
}

.info2{
  text-align: center;
  color: black;
  font-family: Roboto,sans-serif;
  font-size: 16px;
  line-height: 19px;
  box-sizing: border-box;
  margin-left: 0;
  display: block;
  font-weight: 300;
  margin-bottom: 18px;
}

.info3{
  text-align: center;
  color: black;
  font-family: Roboto,sans-serif;
  font-size: 16px;
  line-height: 19px;
  box-sizing: border-box;
  margin-left: 0;
  display: block;
  font-weight: 300;
  margin-bottom: 18px;
  
}


.visitanos4{

  font-size: 1rem;
  line-height: 3.5;
  color: black;
  text-align: center;
  font-family: Montserrat,sans-serif;
  font-weight: 1000;
  box-sizing: border-box;
  padding-bottom: 45px;
  display: block;
  height: 100%;
  min-height: 700px;
  text-decoration: none;
  position: relative;
  z-index: 10;
  margin: 1px;
  background-color: lightgrey;
}


.content-box col-12{
  font-size: 1rem;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  font-family: Montserrat,sans-serif;
  font-weight: 300;
  box-sizing: border-box;
  width: 100%;
  flex: 0 0 100%;
  max-width: 100%;
  padding-bottom: 45px;
  display: block;
  height: 100%;
  min-height: 700px;
  text-decoration: none;
  position: relative;
  z-index: 10;
  margin: 1px;
  background-color: rgba(255,255,255,.95);
  padding-right: 0;
  padding-left: 0;
}

.tit{
  text-align: left;
  box-sizing: border-box;
  margin-top: 0;
  margin-bottom: .5rem;
  font-family: inherit;
  color: #1c1e36;
  font-size: 40px;
  font-weight: 700;
  line-height: 32px;
  padding: 36px 18px 36px;
}

.imagenfondo{
  font-size: 1rem;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  font-family: Montserrat,sans-serif;
  font-weight: 50;
  box-sizing: border-box;
  position: relative;
  height: 400px;
}

.imgcancha{
  font-size: 1rem;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  font-family: Montserrat,sans-serif;
  font-weight: 300;
  box-sizing: border-box;
  transition: opacity .5s ease-in-out;
  max-width: 100%;
  position: absolute;
  top: 0;
  z-index: 10;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-color: #b3b6c1;
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: -5px;
  opacity: 1;
  background-image: url("../images/fondologin3.jpg");
  opacity: 0.8;
}

.visitanostit{
  text-align: left;
  box-sizing: border-box;
  font-family: inherit;
  margin: 12px -300px 0px;
  font-size: 100px;
  font-weight: 800px;
  line-height: 100px;
  color: #fff;
  padding: 300px;
}

.titulo1{
  text-align: center;
  box-sizing: border-box;
  margin-top: 0;
  margin-bottom: .5rem;
  font-family: inherit;
  color: #1c1e36;
  font-size: 50px;
  font-weight: 700;
  padding: 36px 18px 36px;
  text-shadow: 1px 2px black;
}

.formulario {
  color: white;
  text-align: left;
  font-family: Montserrat,sans-serif;
  box-sizing: border-box;
  width: 98%;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  margin-top: -189px;
}

.tituloformulario {
  color: rgb(23, 13, 107);
  text-align: center;
  font-weight: 700;
  padding: 100px 0;
  font-size: 80px;
}

.form1 {
  margin: 10px;
  width: 98%;
  color:  rgb(23, 13, 107); 
}

.titulotest {
  color: rgb(23, 13, 107);
  text-align:center;
  padding: -100px;
  font-size: 40px;
}